table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 50px;
    
}
table,th,td{
    border: 1px solid black;
}
th,td{
    padding: 10px;
    text-align: center;
}
th{
    font-size: 1.3em;
    background-color: #04433c;
    color: white;
}
.filter{
    justify-self: right;
    margin-right: 70px;
    
} 
.search-emp{
    float: left;
    width: 40%;
    height: 30px;
    margin: 10px 0 10px 60px;
    padding: 3px;
    
}