table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 50px;
    
}
table,th,td{
    border: 1px solid black;
}
th,td{
    padding: 10px;
    text-align: center;
}
th{ 
    font-size: 1.3em;
    background-color: #04433c;
    color: white;
}

.search-emp{
    width: 40%;
    height: 30px;
    margin: 10px 0 10px 60px;
    padding: 3px;

}
.edit-form{
    border: 1px solid #ccc;
    width: 35%;
    height: 60%;
    justify-self: center;
    position: fixed;
    top: 15%;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none;

}
.emp-button{
    width: 100%;
}
#delete-btn{
    background-color: #FF746C;
}
#edit-btn{
    background-color: #A8DF8E;
}
#delete-btn:hover , #edit-btn:hover{
    background-color: grey;
}
.form{
    display: grid;
    padding: 10px;
    margin-left: 5px;
}
.form label{
    font-size: 1.2em;
    margin: 3px;
}
.edit-text{
    justify-self: center;
    font-size: 2em;
    margin-top: 2px;
    margin-bottom: 2px;
}
.input{
    height: 25px;
    border-radius: 8px;
    border: 1px solid grey;

}
.edit{
    background-color: #04433c;
    border-radius: 8px;
    color: white;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;

}
.edit:hover{
    background-color: grey;
    color: black;
}
.close{
    border-radius: 100px;
    background-color: red;
    width: 10px;
    float: right;
    margin: 3px;
    padding: 5px;
    font-size: 0.7em;
    font-weight: bolder;
    color: white;
}
