table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 50px;
    
}
table,th,td{
    border: 1px solid black;
}
th,td{
    padding: 10px;
}
th{
    font-size: 2em;
    background-color: #A8DF8E;
}

.search-emp{
    width: 40%;
    height: 30px;
    margin: 10px 0 10px 60px;
    padding: 3px;

}
.edit-form{
    display: none;
    margin-top: 10px;
    margin-left: 70px;
}
.emp-button{
    width: 100%;
}
#delete-btn{
    background-color: #FF746C;
}
#edit-btn{
    background-color: #A8DF8E;
}
#delete-btn:hover , #edit-btn:hover{
    background-color: grey;
}