 body{
	font-family:'Times New Roman', Times, serif;
	background-color: #f4f7f6; 
 }
.header-section {
	width: 30%;
	min-height: 99vh;
	background-color: #04433c;
}
.user-info{ 
	display: flex;
	margin: 5px;
	padding: 5px;
}
.user-image{
	height: 60px;
	width: 70px;
	margin: 10px;
	margin-top: 20px;
}
.user-name{
	font-size: 1.4em;
	font-weight: bold;
	color: white;
}
.navigation{
	font-size: 1.6em;	
	padding: 5px;
	margin-left: 30px;

}
.nav-images{
	width:30 px; 
	height: 25px; 
	padding: 2px 2px 0 2px;
	margin-right: 5px;
}
.navigation a p{
	color: white;
}
.navigation a p:hover{
	color: grey;
}
a{
	text-decoration: none;
}
.logout{
	color: white;
	font-size: 1.5em;	
	justify-self: center;
	/* margin-top: 90px; */
	position: fixed;
	bottom: 1%;
	left: 7%;
}
.logout:hover{
	color: grey;
}