::-webkit-scrollbar{
	display: none;
}
@import url('https://fonts.googleapis.com');


html,body{
	padding: 0;
	margin: 0;
}


.dashboard{
	display: flex;
	margin-bottom: 0;
}

.main-right{
	width: 100%;
	min-height: 99vh;
}
.home-welcome{
	font-size: 2.3em;
	font-weight: bold;
	justify-self: center;
	margin-top: 20px;
	font-family: 'Poppins', sans-serif;
}
.feature-card{
	display: grid;
	grid-template-columns: 40% 40% ;
	row-gap: 20px;
	margin: 20px;
	justify-content: space-around;
	

}
.feature{
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
	/* background-color: #A8DF8E; */
	background-color: #04433c;
}
.feature p{
	font-size: 1.6em;
}
.feature .numbers{
	font-size: 3em;
	font-weight: bold;
}














