::-webkit-scrollbar{
	display: none;
}

html,body{
	padding: 0;
	margin: 0;
}


.dashboard{
	display: flex;
	margin-bottom: 0;
}

.main-right{
	width: 100%;
	height: 99vh;
}
.home-welcome{
	font-size: 2.3em;
	font-weight: bold;
	justify-self: center;
}
.feature-card{
	display: flex;
	margin: 20px;
	margin-top: 100px;
	justify-content: space-around;
}
.feature{
	border: 1px solid black;
	border-radius: 8px;
	padding: 10px;
}
.feature p{
	font-size: 1.6em;
}
.feature .numbers{
	font-size: 3em;
	font-weight: bold;
	justify-self: center;
}














