table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 50px;
    margin-bottom: 10px;
    
}
table,th,td{
    border: 1px solid black;
}
th,td{
    padding: 10px;
    text-align: center;
}
th{
    font-size: 1.5em;
    background-color: #04433c;
    color: white;
}
.reject-button{
    width: 100%;
    background-color: #FF746C;
}
.approve-button{
    width: 100%;
    background-color: #A8DF8E;
}
.reject-button:hover, .approve-button:hover{
    background-color: grey;
}
.filter{
    font-size: 2.1em;
    display: flex;
    justify-self: right;
    margin-right: 60px;
    
}
.filter-option{
    border: 1px solid black;
    border-radius: 4px;
    height: 22px;
    align-self: center;
    padding: 3px;
    margin: 5px;
    margin-top: 10px;

}
.approved-text{
    background-color: #A8DF8E;
    color: white;
    font-weight: bold;
    justify-self: center;
    padding: 5px;
    border-radius: 10px;
}
.rejected-text{
    background-color: #FF746C;
    color: white;
    font-weight: bold;
    justify-self: center;
    padding: 5px;
    border-radius: 10px;
}
.pending-text{
    font-weight: bold;
    justify-self: center;
    padding: 8px;
    border-radius: 10px;
    background-color: #ADD8E6;
}
.filter-text{
    font-size: 0.7em;
}
.filter-image{
    height: 17px;
    width: 20px;
}