

.leave-text{
	font-size:2em;

}
article{
	display: flex;
	justify-content: space-evenly;
	margin-top: 70px;
}
article div{
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	width: 30%;
}
article div p{
	justify-self: center;
}

.attendance-btn{
	width: 120px;
	height: 50px;
	background-color: #04433c;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	font-size: 1.3em;
	margin-left: 4.5em;
	margin-bottom: 2em;
	color: white;
	border: white;

}
.attendance-btn:hover{
	background-color: grey;
	color: black;
}


.pop-up{
	border: 1px solid #ccc;
	width: 35%;
	height: 60%;
	justify-self: center;
	position: fixed;
	top: 15%;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	display: none;
	
}
.leave-form{
	display: grid;
	padding: 10px;
	margin-left: 5px;
}
.leave-form label{
	font-size: 1.2em;
	margin: 3px;
}
.leave-submit{
	background-color: #04433c;
	border-radius: 8px;
	color: white;
	height: 50px;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;

}
.leave-submit:hover{
	background-color: grey;
	color: black;
}
textarea{
	height: 80px;
	border-radius: 8px;
}
.close{
	border-radius: 100px;
	background-color: red;
	width: 10px;
	float: right;
	margin: 3px;
	padding: 5px;
	font-size: 0.7em;
	font-weight: bolder;
	color: white;
}
.feature{
	margin-top: 60px;
}

